@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

body {
  background-color: #51035c;
  font-family: 'Poppins', sans-serif;
  color: #f173cd;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid #be44ca;
  border-radius: 20px;
}

.ctn-leaderboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctn-refresh {
  display: flex;
  justify-content: space-between;
}

.refresh {
  margin: auto;
  height: 30px;
  width: 80px;
  border: 2px solid #801a75;
  border-radius: 10px;
}

.ctn-left {
  width: 45%;
  padding-left: 10px;
}

.ctn-right {
  width: 45%;
}

.table-score {
  border: 0.5px solid rgb(20, 19, 19);
  width: 100%;
}

.table-score td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-score tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-score tr:hover {
  background-color: #ddd;
}

.add-score {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.input-text {
  width: 80%;
  height: 30px;
}

.input-text:focus {
  outline: #fdf7fd;
}

.refresh:hover {
  cursor: pointer;
  background-color: #801a75;
  color: #f173cd;
}

.input-button {
  height: 30px;
  width: 80px;
  border: 2px solid #801a75;
  border-radius: 10px;
}

.input-button:hover {
  cursor: pointer;
  background-color: #801a75;
  color: #f173cd;
}
